<h1>About Us</h1>
<br>
<h2>Cactus puns</h2>
<em><p>What did one cactus say to the other cactus? “You’re looking sharp!”</p></em>

<em><p>Can’t touch this!</p></em>

<em><p>What did the girl cactus say to the boy cactus? “I’m so glad we pricked each other!”</p></em>

<em><p>You prickle my fancy!</p></em>

<em><p>I’m totally stuck on you.</p></em>

<em><p>Pretty fly for a cacti.</p></em>

<em><p>Cact-I + Cact-ME = Cact-US</p></em>


<h2>Tree puns</h2>
<em><p>What has no fingers but lots of rings? A tree.</p></em>

<em><p>Why are trees so tall and thin? They only eat light.</p></em>

<em><p>What’s a nervous tree called? A sweaty pal.</p></em>

<em><p>Why do trees have so many friends? They branch out.</p></em>

<em><p>How do trees get on Instagram? They log in.</p></em>

<em><p>How did the tree ask out his crush? He said, “Wood you be mine?"</p></em>

<h2>Leaf puns</h2>
<em><p>Take a leaf of faith!</p></em>

<em><p>What would an MTV show about a plant be called? A Day in the Leaf.</p></em>

<em><p>You’re unbeleafable!</p></em>

<em><p>Take it or leaf it.</p></em>

<em><p>How do plants keep things under control? They weed out unnecessary drama and ask troublemakers to leaf.</p></em>

<em><p>Last bud not leaf.</p></em>

<h2>Succulent puns</h2>
<em><p>How does a plant answer the phone? “Aloe?”</p></em>

<em><p>Aloe you vera much.</p></em>

<em><p>Say aloe to my little friend.</p></em>

<em><p>Here’s hoping your day doesn’t suc.</p></em>

<em><p>What did the succulent learn in math class? How to do square roots!</p></em>
